* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*---------------h1 styles----------------*/
h1 {

}

.Contact,.section-title {
	text-align: center;
	font-family: 'Dr Sugiyama', cursive;
	letter-spacing: 2px;
	font-weight: 600;
	background-color: #5598c5;
	color: white;
	padding: 7px;

}

.logo-name {
	font-family: 'Dr Sugiyama', cursive;
	margin-bottom: 0;

}
/*----------------------------------------*/


h2 {

}

/*---------------h3 styles----------------*/
h3 {

}

.sub-title {
	letter-spacing: 3.5px;
	font-family: 'Cutive Mono';
	font-weight: 300;
	color: #d1a381;
	margin-top: 0;
	padding-top: 0;
}
 
/*----------------------------------------*/


/*----------------p styles----------------*/
p{
	padding-left: 15px; 
	padding-right: 10px;
	font-family: 'Cutive Mono';
	

}

.subsection-title {
	color: #b60f0f;

}
/*----------------------------------------*/
header {
	text-align: center;
	margin-bottom: 100px;
	

}



/*---------------------------------------*/


.master-wrapper {

}

.logo {
	

}



img {
	max-width: 100%;

}

.line {
	border-bottom: dotted #ff0000;
	text-align: center;
}

main {

}
.other-stats {

}

.stats, .other-stats {
	border: solid black;
	margin-bottom: 30px;

}


/*-----------------------Media Queries-----------------*/
@media (min-width: 320px) {

	/*---------header----------*/
	.sheina-face {
		padding-left: 80px;
		padding-top: 50px;
	}

	.logo-name {
		font-size: 2.3em;
	}

	.sub-title {
	font-size: 1em;
	}

	.line {
	border-bottom: dotted #ff0000;
	border-bottom-width: 3px;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	}
	/*--------end header-------*/

	/*--------fonts------------*/
	.Contact, .section-title {
		font-size: 2em;
		

	}

	.subsection-school {
		font-size: 1em;
	}

	p {
		font-size: .9em;
	}
	/*-------------------------*/

	main {
		padding: 20px;
	}


}









