* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*---------------h1 styles----------------*/
h1 {

}

.Contact,.section-title {
	text-align: center;
	font-family: 'Dr Sugiyama', cursive;
	letter-spacing: 2px;
	font-weight: 600;
	background-color: #5598c5;
	color: white;
	padding: 7px;

}

.logo-name {
	font-family: 'Dr Sugiyama', cursive;
	margin-bottom: 0;

}
/*----------------------------------------*/



h2 {

}

/*---------------h3 styles----------------*/
h3 {

}

.sub-title {
	letter-spacing: 3.5px;
	font-family: 'Cutive Mono';
	font-weight: 300;
	color: #d1a381;
	margin-top: 0;
	padding-top: 0;
} 
/*----------------------------------------*/



/*----------------p styles----------------*/
p{
	padding-left: 15px; 
	padding-right: 10px;
	font-family: 'Cutive Mono';
	font-weight: bolder;
	

}

.subsection-title {
	color: #b60f0f;

}

.skills {
	font-size: 1.3em;
	letter-spacing: 2px;
	font-family: 'Dr Sugiyama', cursive;
	color: #8ae6b8;
	text-align: center;
}
/*----------------------------------------*/



header {
	text-align: center;
	margin-bottom: 100px;
	

}



/*---------------------------------------*/


.master-wrapper {

}

.logo {
	text-align: center;
	

}



img {
	max-width: 60%;

}

.line {
	border-bottom: dotted #ff0000;
	text-align: center;
}

main {


}

.other-stats {

}

.stats, .other-stats {
	border: solid #d1a381;
	border-radius: 4px;
	box-shadow: 0px 0px 5px 0px #888888;
	margin-bottom: 30px;

}

.hobbies img {
	width: 70%;
	padding:;
}

.hobbies {
	text-align: center;

}

footer {
	background-color: #ff0000;
	margin-top: 50px;
	height: 200px; 

}


/*-----------------------Media Queries-----------------*/

/*---Phone---*/
@media (min-width: 320px) {

	/*---------header----------*/
	.sheina-face {
		margin-left: 50px;
		margin-top: 50px;
	}

	.sheina-face img {
		max-width: 50%
	}

	.logo-name {
		font-size: 2.3em;
	}

	.sub-title {
	font-size: 1em;
	}

	.line {
	border-bottom: dotted #ff0000;
	border-bottom-width: 3px;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	}
	/*--------end header-------*/



	/*--------fonts------------*/
	.Contact, .section-title {
		font-size: 2em;
		

	}

	.subsection-school {
		font-size: 1em;
	}

	p {
		font-size: .9em;
	}
	/*---------end fonts-----*/



	main {
		padding: 20px;
	}


}



/*---Tablet-----*/
@media (min-width: 507px) {
	.sheina-face {
		margin-left: 100px;
	}

	.sheina-face img {
		text-align: center;
		max-width: 50%;

		
	}

}

@media (min-width: 730px) {
	.sheina-face {
		margin-left: 70px;
	}
	.sheina-face img{
		max-width: 30%;

	}


/*@media (max-width: 830px;) {
	.sheina-face img {
		max-width: 2%;
	}
}
*/





