* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*-----h1 styles------*/
h1 {

}

.Contact {

}

.logo-name {

}
/*-------------------*/


h2 {

}

/*-----h3 styles------*/
h3 {

}

.subsection-title {

}
/*-------------------*/


/*-----p styles------*/
p{

}


.subsection-title {

}
/*-------------------*/


.master-wrapper {

}

.logo {

}

img {

}

.other-stats {

}

.stats {

}




